<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post" action="create">
    <div class="form-group">
        <label> Name
<!--            <input type="text" name="name" class="form-control">-->
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}" ></p>
    </div>
    <br>
    <div class="form-group">
        <label> Description
<!--            <input type="text" name="description" class="form-control">-->
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <br>
    <div class="form-group">
        <label> Contact Email
<!--            <input type="text" name="contactEmail" class="form-control">-->
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <br>
    <label> Location
        <!--            <input type="text" name="location" class="form-control">-->
        <input th:field="${event.location}" class="form-control">
    </label>
    <p class="error" th:errors="${event.location}" ></p>
    </div>
    <br>
    <div class="form-check">
    <label> Registration Required?
        <!--            <input type="text" name="isPresent" class="form-control">-->
       <input type="checkbox" th:field="${event.registration_required}" class="form-check-input"/>
    </label>
    <p class="error" th:errors="${event.registration_required}" ></p>
    </div>
    <br>
    <label> Number Of Attendees
        <!--            <input type="text" name="numberOfAttendees" class="form-control">-->
        <input type="number" th:field="${event.numberOfAttendees}" class="form-control">
    </label>
    <p class="error" th:errors="${event.numberOfAttendees}" ></p>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>

</form>

</body>
</html>